{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ image.title }}{% endblock %}

{% block content %}
  <h1>{{ image.title }}</h1>
  <div class="row">
    <div class="col-lg-4 mt-3">
      <a href="{{ image.image.url }}">
        <img src="{% thumbnail image.image 350x0 %}" class="image-thumbnail">
      </a>
    </div>

    <div class="col-lg-8 mt-3">      
      {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
          <div>
            <span class="count mb-2">
              <span class="total">
                {{ total_likes }} 
              </span> 
              like{{ total_likes|pluralize }}
            </span>
            <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button btn btn-success ml-5 mb-2">
              {% if request.user not in users_like %}
                Like
              {% else %}
                Unlike              
              {% endif %}
            </a>
          </div>
          <p>
            {{ image.description|linebreaks }}
          </p>
        </div>
        <div class="image-likes" >
          {% for user in users_like %}
          <div style="float: left; width: auto; padding: 10px; text-align: center;">
            <img src="{{ user.profile.photo.url }}" class="rounded-circle">
            <p>{{ user.first_name }}</p>
          </div>
          {% empty %}
            <b>Nobody likes this image yet.</b>
          {% endfor %}
        </div>
      {% endwith %}
    </div>
  
  </div>
  
{% endblock %}

{% block domready %}
$('a.like').click(function(e){
  e.preventDefault();
  $.post('{% url "images:like" %}',
    {
      id: $(this).data('id'),
      action: $(this).data('action')
    },
    function(data){
      if (data['status'] == 'ok')
      {
        var previous_action = $('a.like').data('action');

        // toggle data-action
        $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');

        // toogle link text
        $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

        // update total like
        var previous_likes = parseInt($('span.count .total').text());
        $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
      }
    }
  );
});
{% endblock %}