{% load thumbnail %}

<div class="row">
  {% for image in images %}
    <div class="col-4 my-2">
      <div class="image">
        <a href="{{ image.get_absolute.url }}">
          {% thumbnail image.image 300x300 crop="smart" as im %}
          <a href="{{ image.get_absolute_url }}">
            <img src="{{ im.url }}" style="border-top: 4px solid cyan;">
          </a>
        </a>
        <div class="info">
          <a href="{{ image.get_absolute_url }}" class="title">
            {{ image.title }}
          </a>
        </div>
      </div>
    </div>
    <hr>
  {% endfor %}
</div>  
  