body{
  padding: 0;
  margin: 0;
  background-color: #ffffda;
}

nav{
  background: #DA22FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #fff !important;
}

.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-brand{
  color: #fff ;
}

.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-brand:hover,.navbar-nav li:hover{
  color: blue ;
  border-bottom: 1px solid blue;
}

h1{
  border-bottom: 2px solid indigo;
}

a{
  color: #5CC166;
}

a:hover{
  text-decoration: none;
  color: #11A166;
}
