body{
  padding: 0;
  margin: 0;
  background-color: #ffffda;
}

nav{
  background: #DA22FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #fff !important;
}

.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-brand{
  color: #fff ;
}

.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-brand:hover,.navbar-nav li:hover{
  color: green;
  border-bottom: 1px solid green;
}

h1{
  border-bottom: 2px solid indigo;
  margin: 15px 0;
}

a{
  color: #5CC166;
}

a:hover{
  text-decoration: none;
  color: #11A166;
}

.social ul{
  list-style: none;
}

.social ul li{
  border: 1px solid dark;
  padding: 10px;
  border-radius: 10px;
}

.social ul li a{
  color: #fff;
}

.social ul li a:hover{
  color: #000;
}

.social ul li.facebook{
  background-color: #3B5998;
  color: white;
}

.social ul li.twitter{
  background-color: rgb(58, 223, 223);
}

img .bookmark_image{
  width: 100%;
  max-width: 400px;
}

.image-info span.count{
  border: 2px solid darkgray; 
  border-radius: 20px; 
  padding: 10px 20px; 
  color: darkgrey;
}