{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit your account{% endblock %}

{% block content %}
  <div class="row">      
    <div class="col-md-6">
      <h1>Edit your account</h1>
      <p>You can edit your account using the following form:</p>
      <form method="post" enctype="multipart/form-data">
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        {% csrf_token %}
        <p><input type="submit" value="Update Profile" class="btn btn-success"></p>
      </form>
    </div>
    <div class="col-md-6">
      <img src="{{ request.user.profile.photo.url }}" width="200px" class="img-thumbnail" alt="">
    </div>
  </div>
{% endblock %}
