{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="profile-info float-left">
      <img src="{% thumbnail user.profile.photo 180x180 %}" alt="{{ user.get_full_name }}" class="user-detail">
      <h1>{{ user.get_full_name }}</h1>
    </div>
  </div>
  {% with total_followers=user.followers.count %}
    <div class="image-info">    
      <!-- <div class="col-4">       -->
        <span class="count mt-5">
          <span class="total">{{ total_followers }}</span>
          follower{{ total_followers|pluralize }}
        </span>
        <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow float-right btn btn-success">
          {% if request.user not in user.followers.all %}
            Follow
          {% else %}
            Unfollow
          {% endif %}
        </a>
      <!-- </div> -->
      <div id="image-list" class="image-container">
        {% include 'images/image/list_ajax.html' with images=user.images_created.all %}
      </div>
    </div>
  {% endwith %}    
</div>
{% endblock %}


{% block domready %}
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok'){
          var previous_action = $('a.follow').data('action');

          // toggle data-action
          $('a.follow').data('action', previous_action == 'follow' ? 'unfollow' : 'follow');

          // toogle link text
          $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');

          // update total followers
          var previous_followers = parseInt(
            $('span.count .total').text());
          $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers -1);
        }
      }  
    );
  });
{% endblock domready %}
